@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow-y: auto;
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and 엣지 */
    scrollbar-width: none; /* 파이어폭스 */
  }

  .scrollbar-show::-webkit-scrollbar {
    display: block;
  }

  .scrollbar-show {
    -ms-overflow-style: auto; /* IE and 엣지 */
    scrollbar-width: thin; /* 파이어폭스 */
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* 폰트 클래스 정의 */
  .title-32-b {
    @apply font-pretendard font-bold text-[32px] leading-[1.2] tracking-[-0.02em];
  }
  .title-28-b {
    @apply font-pretendard font-bold text-[28px] leading-[1.2] tracking-[-0.02em];
  }
  .title-24-b {
    @apply font-pretendard font-bold text-[24px] leading-[1.2] tracking-[-0.02em];
  }
  .title-20-b {
    @apply font-pretendard font-bold text-[20px] leading-[1.2] tracking-[-0.02em];
  }
  .title-20-s {
    @apply font-pretendard font-semibold text-[20px] leading-[1.2] tracking-[-0.02em];
  }
  .title-20-m {
    @apply font-pretendard font-medium text-[20px] leading-[1.2] tracking-[-0.02em];
  }
  .title-18-b {
    @apply font-pretendard font-bold text-[18px] leading-[1.2] tracking-[-0.02em];
  }
  .body-long {
    @apply font-pretendard font-medium text-[16px] leading-[1.5] tracking-[-0.02em];
  }
  .body-16-s {
    @apply font-pretendard font-semibold text-[16px] leading-[1.35] tracking-[-0.02em];
  }
  .body-16-m {
    @apply font-pretendard font-medium text-[16px] leading-[1.35] tracking-[-0.02em];
  }
  .body-16-r {
    @apply font-pretendard font-normal text-[16px] leading-[1.35] tracking-[-0.02em];
  }
  .body-14-s {
    @apply font-pretendard font-semibold text-[14px] leading-[1.35] tracking-[-0.02em];
  }
  .body-14-m {
    @apply font-pretendard font-medium text-[14px] leading-[1.35] tracking-[-0.02em];
  }
  .body-14-r {
    @apply font-pretendard font-normal text-[14px] leading-[1.35] tracking-[-0.02em];
  }
  .caption {
    @apply font-pretendard font-normal text-[12px] leading-[1] tracking-[-0.02em];
  }

  /* 버튼 클래스 정의 */

  .black-fill {
    @apply bg-secondary-900 text-white disabled:bg-secondary-50 disabled:text-secondary-200 active:bg-secondary-600;
  }

  .black-line {
    @apply bg-white text-secondary-900  disabled:text-secondary-200 active:bg-secondary-50 border-[1px] border-secondary-900 disabled:border-secondary-200;
  }

  .orange-fill {
    @apply bg-primary-50 text-white disabled:bg-primary-5 disabled:text-primary-35 active:bg-primary-300;
  }

  .orange-line {
    @apply bg-white text-primary-100  disabled:text-primary-20 active:bg-primary-50 border-[1px] border-primary-100 disabled:border-primary-20;
  }

  .white-fill {
    @apply bg-white text-secondary-900 active:bg-secondary-50 disabled:text-secondary-200;
  }
  .beige {
    @apply bg-tertiary-100 text-black active:bg-tertiary-300 disabled:bg-tertiary-50 disabled:text-tertiary-100;
  }
}
